* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.navbar {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background: #ff6f61;
}

.nav-container {
    position: relative;
    width: 100%;  
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem 2rem;
    
}

.nav-links {
  display: none;
}

.nav-links.active {
  position: absolute;
  left: 0px;
  top:100%;   
  width: 100%;
  max-width: 1200px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: #ff6f61;
  font-weight: bold;
  padding: 1rem 2rem;
  gap:1rem
}

.menu-icon {
    width: 26px;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #fff1b8, #ffd3e0);
}

.hero-content {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem;
}

.hero-content h1 {
  font-size: 2.2rem;
  letter-spacing: 2px;
}

.hero-content p {
  max-width: 480px;
  line-height: 1.5;
}

.hero-content button {
  width: fit-content;
  padding: 0.8rem 2.2rem;
  border: none;
  background: #ff6f61;
  color: #fff;
  cursor: pointer;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* GALLERY */
.gallery {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap:2rem;  
  padding: 2rem;
  background: linear-gradient(to right, #fff1b8, #ffd3e0);
}

.image-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,120px);
    gap: 1rem;
}

.image-grid img {
    grid-row: span 1;
    grid-column: span 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-grid img:nth-child(2) {
  grid-row: span 2;
  grid-column: span 1;
  height: 100%;
}

.info-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #ff6f61;
    padding: 2.5rem;
    color: #000;
}

.info-box h2 {
    font-size: 2.2rem;
    margin: 1rem 0;
}

.info-box a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #000;
}



@media only screen and (min-width: 768px) {
  .hero-content{
    padding: 4rem;
  }
  .hero-content h1{
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1.25rem;
  }
  .hero-content button{
    padding: 1rem 2.5rem;
    font-size: large;
  }

  .gallery {
    padding: 4rem;
  }

  .image-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,224px);
    gap: 2rem;
  }

}

@media only screen and (min-width: 1024px){
    .nav-links{ 
        width: 100%;
        max-width: 1200px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: #ff6f61;
        font-weight: bold;
        padding: 1rem 2rem;
    }
    .nav-container{
        justify-content: center;
    }
    .menu-icon{
        display: none;
    }
    .hero{
        flex-direction: row;
    }
    .hero-content{
        
        max-width: 50%;
    }
    .hero-image{
        
        max-width: 50%;
    }
    .gallery{
        flex-direction: row;
        gap: 6rem;
    }
    .info-box h2{
        font-size: 3.5rem;
    }
}